@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular_0.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Trirong';
  src: url("../fonts/Trirong-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Muli';
  src: url("../fonts/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
